* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #852ecc;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #7300f7;
}

.answer-message {
    background-color: #7300f7;
    color: #fff;
    padding: 16px;
    font-weight: bold;
    display: none;
}
